/* cancer types */

   .cancers-types{
    margin: 0;
    padding: 0;
    width:100%;
    height:110vh;
    background: url('https://img.freepik.com/free-vector/abstract-background-with-pink-purple-flowing-lines-design_1048-20364.jpg') no-repeat center center/cover;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .heading{
    color:white;
    margin-top:-50px;
    font-size: 4rem; /* Adjust as needed */
    font-weight: bold; /* Optional */
   }
   .cancer-span{
        color: transparent; /* Makes the text itself transparent */
        -webkit-text-stroke: 2px #9402ef; /* Sets the border width and color */
        text-shadow: none; /* Ensures no shadow is added */
   }
   .circle-con {
    width: 500px; /* Circle width */
    height: 500px; /* Circle height */
    border: 2px solid white;
    border-radius: 50%; /* Ensures a circular shape */
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con1, .con2, .con3, .con4, .con5, .con6, .con7 {
    background-color: rgb(250, 249, 249);
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#7e21d0;
    border-radius: 50%; /* Makes them circular */
    animation: rotate-border 10s linear infinite; /* Rotation animation */
}
.con1 >h1, .con2 >h1, .con3>h1, .con4>h1, .con5>h1, .con6>h1, .con7 >h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-con .hoverable:hover{
    background-color: #7e21d0;
    color:#ffffff;

}

/* Positioning and animation delay */
.con1 { animation-delay: 0s; }
.con2 { animation-delay: 1.43s; }
.con3 { animation-delay: 2.86s; }
.con4 { animation-delay: 4.29s; }
.con5 { animation-delay: 5.72s; }
.con6 { animation-delay: 7.15s; }
.con7 { animation-delay: 8.58s; }

/* Keyframes for the rotation */
@keyframes rotate-border {
    0% {
        transform: rotate(0deg) translate(250px);
    }
    100% {
        transform: rotate(360deg) translate(250px);
    }
}






/* responsive */
@media (max-width: 800px) {
    .circle-con{
        width: 400px; /* Circle width */
        height: 400px; /* Circle height */
        border: 2px solid white;
        border-radius: 50%; /* Ensures a circular shape */

    }
    .heading{
        font-size: 2.8rem;
    }
    .con1, .con2, .con3, .con4, .con5, .con6, .con7 {
        width: 60px;
        height: 60px;
        animation: rotate-border 10s linear infinite; /* Rotation animation */
    }
    .con1 >h1, .con2 >h1, .con3>h1, .con4>h1, .con5>h1, .con6>h1, .con7 >h1 {
        font-size: 1.8rem;
    }

    .con1 { animation-delay: 0s; }
    .con2 { animation-delay: 1.43s; }
    .con3 { animation-delay: 2.86s; }
    .con4 { animation-delay: 4.29s; }
    .con5 { animation-delay: 5.72s; }
    .con6 { animation-delay: 7.15s; }
    .con7 { animation-delay: 8.58s; }

    @keyframes rotate-border {
        0% {
            transform: rotate(0deg) translate(200px);
        }
        100% {
            transform: rotate(360deg) translate(200px);
        }
    }
}


/* media query for phone screens */
@media (max-width: 460px) {
    
    .circle-con{
        width: 300px; /* Circle width */
        height: 300px; /* Circle height */
        border: 2px solid white;
        border-radius: 50%; /* Ensures a circular shape */

    }
    .heading{
        margin-bottom: 30px;
        font-size: 2.8rem;
    }
    .con1, .con2, .con3, .con4, .con5, .con6, .con7 {
        width: 60px;
        height: 60px;
        animation: rotate-border 10s linear infinite; /* Rotation animation */
    }
    .con1 >h1, .con2 >h1, .con3>h1, .con4>h1, .con5>h1, .con6>h1, .con7 >h1 {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .con1 { animation-delay: 0s; }
    .con2 { animation-delay: 1.43s; }
    .con3 { animation-delay: 2.86s; }
    .con4 { animation-delay: 4.29s; }
    .con5 { animation-delay: 5.72s; }
    .con6 { animation-delay: 7.15s; }
    .con7 { animation-delay: 8.58s; }

    @keyframes rotate-border {
        0% {
            transform: rotate(0deg) translate(150px);
        }
        100% {
            transform: rotate(360deg) translate(150px);
        }
    }

}

/* Letter Adjustments for Smaller Screens */
@media (max-width: 380px) {
    .cancers-types{
        height:500px;
    }
    .circle-con{
        width: 190px; /* Circle width */
        height: 190px; /* Circle height */
        border: 2px solid white;
        border-radius: 50%; /* Ensures a circular shape */
    }
    .heading{
        margin-bottom: 70px;
        font-size: 2.2rem;
    }
    .con1, .con2, .con3, .con4, .con5, .con6, .con7 {
        width: 50px;
        height: 50px;
        animation: rotate-border 10s linear infinite; /* Rotation animation */
    }
    .con1 >h1, .con2 >h1, .con3>h1, .con4>h1, .con5>h1, .con6>h1, .con7 >h1 {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .con1 { animation-delay: 0s; }
    .con2 { animation-delay: 1.43s; }
    .con3 { animation-delay: 2.86s; }
    .con4 { animation-delay: 4.29s; }
    .con5 { animation-delay: 5.72s; }
    .con6 { animation-delay: 7.15s; }
    .con7 { animation-delay: 8.58s; }

    @keyframes rotate-border {
        0% {
            transform: rotate(0deg) translate(90px);
        }
        100% {
            transform: rotate(360deg) translate(90px);
        }
    }
}


