.main{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main .background {
    height: 100vh; /* Full viewport height */
    width: 100%;
    overflow: hidden;
    background: url('https://img.freepik.com/free-vector/abstract-background-with-pink-purple-flowing-lines-design_1048-20364.jpg') no-repeat center center/cover;
    z-index: -1; /* Place it behind the content */
}

.matter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%; /* Center the content vertically and horizontally */
    color: white;
    text-align: center;
    margin-top:-30px;
}

.matter h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem; /* Adjust the font size */
    font-weight: bold;
    line-height: 1;
}

.matter h1 .span-txt {
    margin-right: 50px;
    display: block; /* Each line appears as a block */
    font-size: 5rem; /* Adjust size as needed */
    font-weight: bold;
    color: white; /* Solid text for main lines */
    line-height: 1.8;

}

.matter h1 .span {
    margin-left: 200px;
    margin-top: -70px; /* Reduce this value to bring it closer */
    font-size: 5rem; /* Adjust as needed */
    font-weight: bold; /* Optional */
    color: transparent; /* Makes the text itself transparent */
    -webkit-text-stroke: 2px #9402ef; /* Sets the border width and color */
    text-shadow: none; /* Ensures no shadow is added */
}
.bottom-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    width: 100%;
    color: #faf9fb; /* Adjust color as needed */
    cursor: pointer;
}

.bottom-arrow:hover {
    color: #7e21d0; /* Optional: change color on hover */
}


.footer {
    background-color: #7e0ab4;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  .footer-text {
    margin: 0;
    font-size: 0.9rem;
  }



/* responsive */

@media (max-width: 800px) {
    .matter h1 .span-txt {
        font-size: 3rem; /* Smaller text for tablets */
    }
    .matter h1 .span {
        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    
    .matter h1 .span-txt {
        font-size: 2rem;
        margin-bottom: -30px;
    }
    .matter h1 .span {
        font-size: 2rem;
        margin-left:100px;
    }
}


@media(max-width: 400px) {
    .matter h1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:30px;
    }
    .matter h1 .span-txt {
        font-size: 1.5rem; 
        margin: 0;
    }

    .matter h1 .span {
        font-size: 1.5rem;
        margin: 0;
    }

    /* Footer */
    footer .footer-text {
        font-size: 11px; /* Adjust footer text */
        text-align: center;
    }
}


